body {
    background-color: #191414;
}

.main {
    /* padding: 8px; */
    margin-top: 8px;
    height: 1000px;
    width: 100%;
}

.navbar {
    position: fixed;
    width: auto;
    background-color: #1db954;
    overflow: hidden;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.navbar a {
    float: left;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #303132;
}

.active {
    background-color: #191414;
    padding: 0%;
}

.main_img:hover {
    opacity: 1;
}

footer {
    color: dimgrey;
}

@media (min-width: 320px) {
    .main_img {
        position: relative;
        width: 200px;
        height: 200px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        top: 80px;
        border: 5px solid lightgray;
        border-radius: 50%;
        opacity: 0.7;
    }
    .main_name {
        position: relative;
        top: 110px;
        overflow: hidden;
        text-align: center;
        color: ghostwhite;
        font-family: "Roboto Mono", monospace;
        font-size: 30px;
        color: lightgray;
    }
    .main_name:hover {
        text-decoration: underline;
        font-weight: 100px;
        text-decoration-color: #1db954;
    }
    .para_head {
        position: relative;
        font-family: "Azeret Mono", monospace;
        font-size: 25px;
        color: #1db954;
        top: 120px;
        margin-left: 14px;
    }
    .para {
        position: relative;
        font-family: "Azeret Mono", monospace;
        color: lightgray;
        margin-left: 14px;
        top: 120px;
        font-size: 20px;
    }
    hr {
        position: relative;
        top: 165px;
    }
    .bi {
        position: relative;
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        top: 180px;
    }
    .con {
        position: relative;
        color: lightseagreen;
        text-align: center;
        font-family: 'Mali', cursive;
        top: 180px;
        overflow: hidden;
        font-size: 1.2em;
    }
}

@media (min-width: 375px) {
    .main_img {
        position: relative;
        width: 215px;
        height: 215px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        top: 80px;
        border: 5px solid lightgray;
        border-radius: 50%;
        opacity: 0.7;
    }
    .main_name {
        position: relative;
        top: 110px;
        overflow: hidden;
        text-align: center;
        color: ghostwhite;
        font-family: "Roboto Mono", monospace;
        font-size: 30px;
        color: lightgray;
    }
    .main_name:hover {
        text-decoration: underline;
        font-weight: 100px;
        text-decoration-color: #1db954;
    }
    .para_head {
        position: relative;
        font-family: "Azeret Mono", monospace;
        font-size: 30px;
        color: #1db954;
        top: 120px;
        margin-left: 14px;
    }
    .para {
        position: relative;
        font-family: "Azeret Mono", monospace;
        color: lightgray;
        margin-left: 14px;
        top: 120px;
        font-size: 25px;
    }
    hr {
        position: relative;
        top: 165px;
    }
    .bi {
        position: relative;
        padding: 15px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        top: 180px;
    }
    .con {
        position: relative;
        color: lightseagreen;
        text-align: center;
        font-family: 'Mali', cursive;
        top: 180px;
        overflow: hidden;
    }
}

@media (min-width: 425px) {
    .bi {
        position: relative;
        padding: 22px;
        width: 50px;
        text-decoration: none;
        margin: 5px 2px;
        top: 180px;
    }
}

@media (min-width: 768px) {
    .bi {
        position: relative;
        padding: 50px;
        width: 80px;
        text-decoration: none;
        margin: 10px 2px;
        top: 150px;
    }
    .con {
        position: relative;
        color: lightseagreen;
        text-align: center;
        font-family: 'Mali', cursive;
        top: 180px;
        overflow: hidden;
        font-size: 1.8em;
    }
}