body {
    background-color: #191414;
}

.main {
    /* padding: 20px; */
    /* margin-top: 20px; */
    height: 1000px;
    width: 100%;
}

.navbar {
    position: fixed;
    width: auto;
    background-color: #1db954;
    overflow: hidden;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.navbar a {
    float: left;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #303132;
}

.active {
    background-color: #191414;
    padding: 0%;
}

.main_img:hover {
    opacity: 1;
}

footer {
    color: dimgrey;
}

.bot {
    width: 310 !important;
    height: 310 !important;
}

.grid {
    position: absolute;
    top: 70px;
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    /* align-items: center; */
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 4px 6px 0px rgba(53, 163, 214, 0.466);
    width: 100%;
}

@media (min-width) {}